.card-temp {
    background-color: #9ff77f;
}

.valor-card {
    font-size: 5vh;
    color: white;
}

.valor-card-title {
    color: white;
}

.card-umi-ar {
    background-color:#4854e0;
}

.main-card{
    margin-top: 30%;
    background-color: white ;
    width: 98%;
    margin-left: 1%;
    border-radius: 10px;
}

.card-pai {
    height: 97%;
}

ion-card-title {
    font-size: large;
    text-align: center;
}

.icon {
    height: 25px;
}

ion-card-content {
    text-align: center;
}