.card-temp {
    
    background-color: #28ba62;
}
.main-card{
    margin-top: 30%;
    background-color: white ;
    width: 98%;
    margin-left: 1%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.valor-card {
    font-size: 5vh;
    color: white;
}

.valor-card-title {
    color: white;
}

.card-umi {
    background-color: rgb(138, 229, 245);
}

.card-pai {
    height: 97%;
}

ion-card-title {
    font-size: large;
}

.icon {
    height: 25px;
}

ion-card-content {
    text-align: center;
}

ion-toolbar{
    --background: #d7d8da !important;
    --color:#3880ff !important;
    text-align: center;
}