.card-temp {
    
    background-color: #28ba62;
}
.main-card{
    margin-top: 30%;
    background-color: white ;
    width: 98%;
    margin-left: 1%;
    border-radius: 10px;
}
.valor-card {
    font-size: 5vh;
    color: white;
}

.valor-card-title {
    color: white;
}

.card-umi {
    background-color: rgb(138, 229, 245);
}

.card-pai {
    height: 97%;
}

ion-card-title {
    font-size: large;
}

.icon {
    height: 25px;
}

ion-card-content {
    text-align: center;
}