.card-temp {
    background-color: #9ff77f;
}

.valor-card {
    font-size: 5vh;
}

.card-umi {
    background-color: rgb(138, 229, 245);
}

.card-pai {
    height: 97%;
}

ion-card-title {
    font-size: large;
}

.icon {
    height: 25px;
}

ion-card-content {
    text-align: center;
}