<ion-header>
    <ion-toolbar>
      <ion-title>Temperatura</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content class="main-card">
        <ion-row>
            <ion-col>
                <ion-card class="card-temp">
                    <ion-card-header>
                        <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
                        <ion-card-title>Temperatura
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div class="valor-card">{{valorTemperatura}}ºC
                            <ion-icon name="thermometer-outline" class="icon"></ion-icon>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <canvas baseChart [datasets]="chartData" [chartType]="chartType" [labels]="chartLabels"></canvas>
    </ion-card-content>
</ion-content>